@media screen and (max-width: 991px) {
  .miniPhoneBar {
    display: flex !important;
    align-items: center;
    column-gap: 10px;
  }

  .logo {
    height: 45px;
    width: 45px;
  }

  .mainMenu {
    position: absolute;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 20px;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 80px;
    z-index: 11;
    border-top: 1px solid #eee;
  }
}